.types{
    border-radius: 4px;
    padding: 3px 4px;
    font-size: 0.74em;
    color: #fff;
}
.types.grass{
    background-color: green;
}
.types.poison{
    background-color: purple;
}
.types.water{
    background-color: #045FB4;
}
.types.fire{
    background-color: #ff1c1c;
}
.types.electric{
    background-color: #DBA901;
}
.types.bug{
    background-color: #64FE2E;
}
.types.flying{
    background-color: #58ACFA;
}
.types.normal{
    background-color: #B45F04;
}
.types.rock{
    background-color: #7C8CA6;
}
.types.ground{
    background-color: #99785F;
}
.types.psychic{
    background-color: #DF0174;
}
.types.ghost{
    background-color: #9287CF;
}
.types.dragon{
    background-color: #08088A;
}
.types.ice{
    background-color: #81DAF5;
}
.types.fighting{
    background-color: #8B3134;
}
